@using Report.BLL;
@using Report.DO;
@using Report.Web;
@using ReportViewerForMvc
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Country City Productivity Report</title>

    <script src="~/libs/jquery.dataTables.min.js"></script>
    <script src="~/libs/dataTables.rowGroup.min.js"></script>
    <link href="~/Css/rowGroup.dataTables.min.css" rel="stylesheet" />
    <link href="~/Css/dataTables.css" rel="stylesheet" />
    <script src="~/libs/jszip.min.js"></script>
    <script src="~/libs/vfs_fonts.js"></script>
    <script src="~/libs/pdfmake.js"></script>
    <script src="~/Scripts/AllCities.js"></script>
    <script src="~/Scripts/CountryProductivityReport.js?v4"></script>
    <script src="~/libs/DataTables/jquery.dataTables.js"></script>
    <script src="~/libs/DataTables/dataTables.rowGroup.min.js"></script>
    <script src="~/libs/DataTables/dataTables.responsive.js"></script>
    <script src="~/libs/angucomplete-alt.js"></script>
    <script src="~/libs/jquery.dataTables.min.js"></script>
    <script src="~/libs/dataTables.rowGroup.min.js"></script>
    <link href="~/Css/rowGroup.dataTables.min.css" rel="stylesheet" />
    <script src="~/libs/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/libs/DataTables/buttons.flash.min.js"></script>
    <script src="~/libs/DataTables/buttons.html5.min.js"></script>
    <script src="~/libs/DataTables/buttons.print.min.js"></script>




    <style type="text/css">
        table.dataTable tr.dtrg-group.dtrg-level-0 td {
            font-weight: bold;
        }

        table.dataTable tr.dtrg-group td {
            background-color: #e0e0e04d;
        }

        table.dataTable tr.dtrg-group.dtrg-level-1 td:first-child {
            padding-left: 2em;
        }

        table.dataTable tr.dtrg-group.dtrg-level-1 td {
            background-color: #e0e0e04d;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }

        table.dataTable tr.dtrg-group.dtrg-level-2 td:first-child {
            padding-left: 3em;
        }

        table.dataTable tr.dtrg-group.dtrg-level-2 td {
            background-color: #e0e0e04d;
        }

        table.dataTable.compact tbody tr td.order_id {
            padding-left: 4em;
        }

        td span {
            display: inline-block;
        }

        .table-responsive {
            min-height: .01%;
            overflow-x: unset !important;
        }
    </style>
</head>
<body ng-app="ProdRptApp" ng-controller="ProdRptCntr" id="MainWrap" style="overflow-x: auto;">

    <input type="hidden" id="hdnParentmemberid" value="" />
    <input type="hidden" id="hdnParenttypeid" value="" />
    <input type="hidden" id="hdncompcode1" value="@SessionContext.Current.AISession.CompCode" />
    <div id="MainBody" runat="server" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">

        <div id="HeaderSearchdiv" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 container mrg-top40">
            <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 mtb10 hdbg bdr1 bdr-btm0 padd-btm5 padd-top5" id="divhdeading">
                <div class="col-lg-8 col-md-8  col-sm-8 col-xs-12">
                    <span style="font-size: 17px;font-weight: 600;">Country City Productivity Report</span><br />

                    <div id="RptHeaderDetails" style="display:none;">
                        <b>From: </b><span id="spDateFrom">{{ProdRpt1.DateFrom}}</span>&nbsp;
                        <b>To: </b><span id="spDateTo">{{ProdRpt1.DateTo}}</span>&nbsp;
                        @*<span>
                                <span ng-if="ProdReportFilter.GroupBy!=''"><b>View By:</b> </span> <span> </span>
                            </span>*@
                        <label ng-if="LoginMemberType != '4'"><b>Showing Report For :</b> <span id="spBrchName" style="font-weight: normal !important">{{PostBooking.ReportCompanyName}}</span></label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4  col-sm-4 col-xs-12">
                    <span ng-hide="ModifySearch" class="pull-right mrg-top05" id="modifyserach">
                        <a id="btnModifySearch" ng-click="ShowModifyClick()" class="btn search hover-btn" data-toggle="collapse" data-target="#demo"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;Modify search </a>
                    </span>
                </div>
            </div>

            <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12 whitebg2 collapse  bdr1 bdr-top0" id="demo" style="box-shadow:none !important;">
                @*----------Radio Buttons----------------------*@
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mrg-btm10 nopadding">
                    <ul class="nav nav-tabs nobdr mrg-top05">
                        <li id="Arrivalwise" class="radio-inline nomargin padd-lft10">
                            <label class="radio-inline"><input type="radio" id="ADW" autocomplete="off" name="Booking" text="Arrivaldate wise" value="1" class="mrg-lft0" checked="checked">Search Date Wise</label>
                        </li>
                        <li id="BookDatewise" class="radio-inline nomargin">
                            <label class="radio-inline"><input type="radio" id="BDW" autocomplete="off" name="Booking" text="Bookdate wise" value="0" class="mrg-lft0">Booking Date Wise</label>
                        </li>
                    </ul>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mrg-btm10 nopadding">
                    @*------------Custom Date DDL----------*@
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mrg-top20">
                        <select class="select--hoshi" id="ddl_CustomDateRange" (input)="ProdReportFilter.CustomDateOption=$event.target.value">
                            <option value="">Custom Date Range</option>
                            <option ng-selected="ProdReportFilter.CustomDateOption == dd.Values" value="{{dd.Values}}" ng-repeat="dd in DateRangeList">
                                {{dd.Name}}
                            </option>
                        </select>
                    </div>

                    @*-------------Feom Date //  To Date------------*@

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mrg-top20">
                        <input class="floating-inpt date-cal " type="text" autocomplete="off" required="" ng-model="ProdRpt1.DateFrom" id="txtFromDate">
                        <span class="floating-label" id="spArrivalFromDate"> From Date <span class="red-color">*</span></span>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mrg-top20">

                        <input class="floating-inpt date-cal " type="text" autocomplete="off" required="" ng-model="ProdRpt1.DateTo" id="txtToDate">
                        <span class="floating-label" id="spArrivalToDate"> To Date <span class="red-color">*</span></span>

                    </div>
                    @*BY Branch and By Agent Search DDl*@
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mrg-btm10 nopadding">

                        <div ng-controller="PostBookingController" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                            <input type="hidden" id="hdnIsGetMemberdetails" value="" />
                            <input type="hidden" id="hdnMemberdetails" value="" />
                            @{
                                Html.RenderPartial("PostBookingPartial");
                            }

                        </div>

                    </div>

                </div>
                @* -------------  Advance search    ----------------  *@
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mrg-top30">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding pstbkng">
                        <h4>Advance Search</h4>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mrg-btm20 mrg-top20">
                            <label>
                                Report View By  :
                            </label>
                            <select class="select--hoshi" id="ddl_Grp" (input)="ReportFilter.GroupBy=$event.target.value">
                                <option value="">None</option>
                                <option ng-selected="ReportFilter.GroupBy == '6'" value="6~Country~Country">By Service Nationality</option>
                                <option ng-selected="ReportFilter.GroupBy == '7'" value="7~City~City">By City </option>
                                <option ng-selected="ReportFilter.GroupBy == '13'" value="13~Suppiler~SuppName">By Supplier</option>
                                <option ng-selected="ReportFilter.GroupBy == '5'" value="5~Service~ServiceTyp">By Sevice</option>
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mrg-btm20 mrg-top20">
                            <label>
                                Booking Type
                            </label>
                            <select class="select--hoshi" id="ddl_BookingType" (input)="ProdRpt1.BookingType=$event.target.value">
                                <option value="0" ng-selected="ProdRpt1.BookingType == '0'">All</option>
                                <option value="1" ng-selected="ProdRpt1.BookingType == '1'">Online</option>
                                <option value="2" ng-selected="ProdRpt1.BookingType == '2'">Offline</option>
                            </select>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding ">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mrg-btm20 mrg-top05">
                                <label>
                                    Service Nationality
                                </label>
                                <div angucomplete-alt id="txtautocompletecountry"
                                     pause="100"
                                     selected-object="AfterSelectedCountry"
                                     local-search="localSearch"
                                     ng-keyup="OnKeyUpCountry(selected);"
                                     local-data="countries"
                                     search-fields="display"
                                     title-field="display"
                                     minlength="0"
                                     input-class="floating-inpt autocompleteinput m-t-10-xs "
                                     match-class="highlight"
                                     placeholder="Enter Country"
                                     style="background:transparent url('../../images/da.png') no-repeat right center;background-position-y: 36px;"
                                     initial-value="{{ProdRpt1.CountryName}}"
                                     ng-model="ProdRpt1.CountryId">
                                </div>
                                <input type="hidden" id="hdncountryid" value="" />
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mrg-btm20 mrg-top05">
                                <label>
                                    City
                                </label>
                                <div angucomplete-alt id="txtautocomplete"
                                     pause="100"
                                     selected-object="AfterSelectedCity"
                                     local-search="localSearch"
                                     ng-keyup="OnKeyUpCity(selected);"
                                     local-data="cities"
                                     search-fields="display"
                                     title-field="display"
                                     minlength="0"
                                     input-class="floating-inpt autocompleteinput m-t-10-xs "
                                     match-class="highlight"
                                     placeholder="Enter City"
                                     style="background:transparent url('../../images/da.png') no-repeat right center;background-position-y: 36px;"
                                     initial-value="{{ProdRpt1.CityName}}"
                                     ng-model="ProdRpt1.CityId">
                                </div>
                                <input type="hidden" id="hdncityid" value="" />
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mrg-btm20  mrg-top05">
                                <label>
                                    Supplier
                                </label>
                                <select class="select--hoshi" id="ddl_Supplier">
                                    <option value="0" selected>All Supplier</option>
                                    <option value="{{s.SId}}" ng-repeat="s in Supplierlist">
                                        {{s.SName}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mrg-btm20  mrg-top05">
                                <label>
                                    Booking Status
                                </label>
                                <select class="select--hoshi" id="ddl_BookingStatus" (input)="ProdRpt1.BookingStatus=$event.target.value">
                                    <option value="0" ng-selected="ProdRpt1.BookingStatus == '0'">All</option>
                                    <option value="KK" ng-selected="ProdRpt1.BookingStatus == '1'">Confirmed</option>
                                    <option value="RN" ng-selected="ProdRpt1.BookingStatus == '2'">Reconfirm Request</option>
                                    <option value="RR" ng-selected="ProdRpt1.BookingStatus == '3'">Reconfirmed</option>
                                    <option value="RQ" ng-selected="ProdRpt1.BookingStatus == '4'">Requested</option>
                                    <option value="HN" ng-selected="ProdRpt1.BookingStatus == '5'">Status Requested</option>
                                    <option value="UC" ng-selected="ProdRpt1.BookingStatus == '6'">Sold Out</option>
                                    <option value="XX" ng-selected="ProdRpt1.BookingStatus == '7'">Cancelled</option>
                                    <option value="XN" ng-selected="ProdRpt1.BookingStatus == '8'">Cancellation Request</option>
                                    <option value="PC" ng-selected="ProdRpt1.BookingStatus == '9'">Partially Confirmed</option>
                                    <option value="PN" ng-selected="ProdRpt1.BookingStatus == '10'">Pending Need</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mrg-top20 mrg-btm10 nopadding">
                    <div class="col-md-12 text-left mtb10">
                        <div class="upt-prof-btn">
                            <a class="btn hover-btn nomargin" ng-click="SearchReportClick();" data-toggle="collapse" data-target="#demo">Search</a>
                            <a id="btnclose" class="btn search hover-btn" ng-click="ShowModifyBtn();" data-toggle="collapse" data-target="#demo"> &nbsp;Close </a>

                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mrg-top20" style="display:none;" id="RptDetails">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 whitebg" style="width: auto;">
                <table id="ProductivityRpt" class="table hsrrrtbl mbkngtable mbktbl tbl-block-responsive-xs display nowrap " style="font-size:13px;padding: 5px 5px !important;">
                    <thead class="main-head hidden-xs" id="theaddiv">
                        <tr>
                            <th>Book Ref No</th>
                            <th>Book Date</th>
                            <th>Check In Date</th>
                            <th>Check Out Date </th>
                            <th>Service Name<a class="filter-icon" id="ServiceName" onclick="CalltoFilterPopup('ServiceName')"><i class="fa fa-filter" aria-hidden="true"></i></a></th>
                            <th>Service</th>
                            <th>Service Nationality<a class="filter-icon" id="Country" onclick="CalltoFilterPopup('Country')"><i class="fa fa-filter" aria-hidden="true"></i></a></th>
                            <th> Service City<a class="filter-icon" id="City" onclick="CalltoFilterPopup('City')"><i class="fa fa-filter" aria-hidden="true"></i></a> </th>
                            <th>No Of Nights </th>
                            <th>Agency Name<a class="filter-icon" id="Agency" onclick="CalltoFilterPopup('Agency')"><i class="fa fa-filter" aria-hidden="true"></i></a></th>
                            <th>No Of Rooms</th>
                            <th>No Of Pax</th>
                            <th>Source</th>
                            <th>Supplier<a class="filter-icon" id="SuppName" onclick="CalltoFilterPopup('SuppName')"><i class="fa fa-filter" aria-hidden="true"></i></a></th>
                            <th>Sell Amount</th>
                            <th>Sell Currency </th>
                            <th>Status<a class="filter-icon" id="bStatus" onclick="CalltoFilterPopup('bStatus')"><i class="fa fa-filter" aria-hidden="true"></i></a> </th>
                            <th>Star Catagory </th>
                            <th ng-show="LoginMemberType != 1 ? false : true ">Branch Code </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" id="Noresultdiv" style="display:none;"> <h4 class="text-center bold">No Results Found!</h4></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" id="Errordiv" style="display:none;"> <h4 class="text-center bold">There is Some Error for Processing Report!</h4></div>
        @{
            Html.RenderPartial("FilterPopupPartial");
        }
    </div>


    <script type="text/javascript">
        $("#txtFromDate").change(function () {
            $("#ddl_CustomDateRange")[0].selectedIndex = 0;
        });
        function changeMe(sel, id) {
            $("#" + id).show();
            sel.style.color = "#000";
        }
    </script>
</body>
</html>