


@using Report.BLL;
@using Report.DO;
@using Report.Web;
@using ReportViewerForMvc


@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchAgentBookingReport</title>



   

    <script src="~/libs/jquery.dataTables.min.js"></script>
    <script src="~/libs/dataTables.rowGroup.min.js"></script>
    <link href="~/Css/rowGroup.dataTables.min.css" rel="stylesheet" />



    <script src="~/libs/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/libs/DataTables/buttons.flash.min.js"></script>
    <script src="~/libs/DataTables/buttons.html5.min.js"></script>
    <script src="~/libs/DataTables/buttons.print.min.js"></script>
    <script src="~/libs/jszip.min.js"></script>
    <script src="~/libs/pdfmake.js"></script>
    <script src="~/libs/vfs_fonts.js"></script>



    <script src="~/Scripts/SearchAgentBookingReport.js?v16"></script>
    <link href="~/Css/dataTables.css" rel="stylesheet" />
    <style type="text/css">
        table.dataTable tr.dtrg-group.dtrg-level-0 td {
            font-weight: bold;
        }

        table.dataTable tr.dtrg-group td {
            background-color: #e0e0e04d;
        }

        table.dataTable tr.dtrg-group.dtrg-level-1 td:first-child {
            padding-left: 2em;
        }

        table.dataTable tr.dtrg-group.dtrg-level-1 td {
            background-color: #e0e0e04d;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }

        table.dataTable tr.dtrg-group.dtrg-level-2 td:first-child {
            padding-left: 3em;
        }

        table.dataTable tr.dtrg-group.dtrg-level-2 td {
            background-color: #e0e0e04d;
        }

        table.dataTable.compact tbody tr td.order_id {
            padding-left: 4em;
        }
         td span {
    display: inline-block;
}
    </style>



</head>

<body ng-app="SearchAgentreportapp" ng-controller="SearchAgentreportCntr" id="MainWrap">
    <input type="hidden" id="hdnParentmemberid" value="" />
    <input type="hidden" id="hdnParenttypeid" value="" />

    <div id="MainBody" runat="server" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">

        <div id="HeaderSearchdiv" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 container mrg-top40">
            <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 mtb10 hdbg bdr1 bdr-btm0 padd-btm5 padd-top5" id="divhdeading">
                <div class="col-lg-8 col-md-8  col-sm-8 col-xs-12">
                    <span style="font-size: 17px;font-weight: 600;">Searched Agent Bookings Report</span><br />

                    <div id="RptHeaderDetails" style="display:none;">
                        <b>From: </b><span id="spDateFrom">{{SearchAgentBookReport.DateFrom}}</span>&nbsp;
                        <b>To: </b><span id="spDateTo">{{SearchAgentBookReport.DateTo}}</span>&nbsp;
                        <span>
                            <span ng-if="ReportFilter.GroupBy!=''"><b>View By:</b> </span> <span>{{GroupingName}} </span>
                        </span>
                        <label ng-if="LoginMemberType != '4'">
                            <b>Showing Report For :</b> <span id="spBrchName" style="font-weight: normal !important">{{PostBooking.ReportCompanyName}}</span>

                        </label>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4  col-sm-4 col-xs-12">
                    <span ng-hide="ModifySearch" class="pull-right mrg-top05" id="modifyserach">
                        <a id="btnModifySearch" ng-click="OnModifyClick();" class="btn search hover-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;Modify search </a>
                    </span>
                </div>
            </div>

            <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12 whitebg2 collapse  bdr1 bdr-top0" id="demo" style="box-shadow:none !important;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mrg-btm10 nopadding">
                    <ul class="nav nav-tabs nobdr mrg-top05">
                        <li id="Arrivalwise" class="radio-inline nomargin padd-lft10">
                            <label class="radio-inline"><input type="radio" id="ADW" autocomplete="off" name="Booking" text="Arrivaldate wise" value="1" class="mrg-lft0" checked="checked">Service Date Wise</label>
                        </li>
                        <li id="BookDatewise" class="radio-inline nomargin">
                            <label class="radio-inline"><input type="radio" id="BDW" autocomplete="off" name="Booking" text="Bookdate wise" value="0" class="mrg-lft0">Searching Date Wise</label>
                        </li>
                    </ul>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mrg-btm10 nopadding">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mrg-top20">

                        <select class="select--hoshi" id="ddl_CustomDateRange" (input)="ReportFilter.CustomDateOption=$event.target.value">
                            <option value="">Custom Date Range</option>


                            <option ng-selected="ReportFilter.CustomDateOption == dd.Values" value="{{dd.Values}}" ng-repeat="dd in DateRangeList">
                                {{dd.Name}}
                            </option>
                        </select>



                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mrg-top20">
                        <input class="floating-inpt date-cal " type="text" autocomplete="off" required="" ng-model="SearchAgentBookReport.DateFrom" id="txtFromDate">
                        <span class="floating-label" id="spArrivalFromDate"> From Date <span class="red-color">*</span></span>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mrg-top20">

                        <input class="floating-inpt date-cal " type="text" autocomplete="off" required="" ng-model="SearchAgentBookReport.DateTo" id="txtToDate">
                        <span class="floating-label" id="spArrivalToDate"> To Date <span class="red-color">*</span></span>

                    </div>

                    <div ng-controller="PostBookingController" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                        <input type="hidden" id="hdnIsGetMemberdetails" value="" />
                        <input type="hidden" id="hdnMemberdetails" value="" />
                        @{
                            Html.RenderPartial("PostBookingPartial");
                        }

                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mrg-top30" style="display:none;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding pstbkng">
                        <h4>Advance Search</h4>

                    </div>
                </div>



                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mrg-top20 mrg-btm10 nopadding">
                    <div class="col-md-12 text-left mtb10">
                        <div class="upt-prof-btn">
                            <a class="btn hover-btn nomargin" ng-click="SearchReportClick();" id="btnReportSerach">Search</a>
                            <a id="btnclose" class="btn search hover-btn" ng-click="ShowModifyBtn();"> &nbsp;Close </a>

                        </div>
                    </div>
                </div>
            </form>

        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mrg-top20" style="display:none;" id="RptDetails">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 whitebg">


                <div class="table-responsive">
                    <table id="SearchAgentBookReport" class="table hsrrrtbl mbkngtable mbktbl tbl-block-responsive-xs display nowrap " style="font-size:13px;padding: 5px 5px !important;">
                        <thead class="main-head hidden-xs" id="theaddiv">
                            <tr>

                                <th>Search Date </th>
                                <th>Check In Date</th>
                                <th>Check Out Date</th>
                                <th>City <a class="filter-icon" id="City" onclick="CalltoFilterPopup('City')"><i class="fa fa-filter" aria-hidden="true"></i></a></th>
                                <th>Nights <a class="filter-icon" id="Nts" onclick="CalltoFilterPopup('Nts')"><i class="fa fa-filter" aria-hidden="true"></i></a></th>
                                <th>No of Rooms <a class="filter-icon" id="NRooms" onclick="CalltoFilterPopup('NRooms')"><i class="fa fa-filter" aria-hidden="true"></i></a></th>
                                <th>Rooms Config</th>
                                <th>Hotel Name <a style="display:none;" class="filter-icon" id="HotelName" onclick="CalltoFilterPopup('HotelName')"><i class="fa fa-filter" aria-hidden="true"></i></a></th>
                                <th>Search by <a style="display:none;" class="filter-icon" id="UserName" onclick="CalltoFilterPopup('UserName')"><i class="fa fa-filter" aria-hidden="true"></i></a></th>
                                <th>Status <a class="filter-icon" id="Status" onclick="CalltoFilterPopup('Status')"><i class="fa fa-filter" aria-hidden="true"></i></a></th>



                                <th style="display:none;">Ag name </th>
                                <th style="display:none;">Total Bookings </th>

                                <th style="display:none;">SearchCount </th>
                                <th style="display:none;">Ratio </th>

                            </tr>

                        </thead>
                        <tfoot>
                            <tr>
                                <th colspan="9" style="text-align:left" class="text-left"> </th>



                            </tr>
                        </tfoot>


                    </table>
                </div>

            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mrg-top20" style="display:none;" id="RptSummary">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 whitebg">

                <table id="SearchAgentBookSummaryReport" class="table hsrrrtbl mbkngtable mbktbl tbl-block-responsive-xs display nowrap " style="font-size:13px;padding: 5px 5px !important;width:70%;float:left;">
                    <thead class="main-head hidden-xs" id="theaddiv">
                        <tr>

                            <th>Agency Name </th>
                            <th>Total Searching</th>
                            <th>Total Booking</th>
                            <th>Ratio</th>

                        </tr>

                    </thead>
                    <tfoot>
                        <tr>
                            <th style="text-align:left" class="text-left"> </th>
                            <th style="text-align:right" class="text-right"> </th>
                            <th style="text-align:right" class="text-right"> </th>
                            <th style="text-align:right" class="text-right"> </th>
                        </tr>
                    </tfoot>


                </table>



            </div>
        </div>



        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" id="Noresultdiv" style="display:none;"> <h4 class="text-center bold">No Results Found!</h4></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" id="Errordiv" style="display:none;"> <h4 class="text-center bold">There is Some Error for Processing Report!</h4></div>
        @{
            Html.RenderPartial("FilterPopupPartial");
        }

    </div>


    <script type="text/javascript">

            $("#txtFromDate").change(function () {
                $("#ddl_CustomDateRange")[0].selectedIndex = 0;
            });

            function changeMe(sel, id) {
                $("#" + id).show();
                sel.style.color = "#000";

            }



    </script>


</body>
</html>





